
html, body{
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
  background-color: black;
}

html:-webkit-full-screen{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
